@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --navy: #1a3349;
  --gold: #caa45d;
}

html {
  font-family: "PT Serif";
}

main {
  height: 860px;
  width: 100vw;
}

/* BANNER CAROUSEL SECTION */

.banner-carousel {
  width: 100%;
  margin-top: 0px;
  height: 100%; /* Set the height to 100% */
  position: relative;
  z-index: -1;
}

.banner-slide {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 0;
  color: white;
  align-items: center;
}

.banner-slide img {
  width: 100%;
}

.banner-slide h1 {
  margin-left: 80px;
  font-size: 60px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: italic;
  font-weight: 700;
}

.banner-slide.active {
  opacity: 1;
  z-index: 1;
}

.header-text {
  position: absolute;
}

/* INFO SECTION */

.info-section h1 {
  margin-top: 60px;
  margin-left: 60px;
  color: var(--gold);
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  max-width: 40vw;
}

/* UPCOMING EVENTS SECTION */

.upcoming-events-section {
  position: relative;
  margin-top: 80px;
  padding-bottom: 120px;
}

.upcoming-events-section h1 {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  line-height: 52px;

  color: #caa45d;
  text-align: center;
  padding-top: 100px;
}

.upcoming-events-section .slide-container {
  position: relative;
  top: 10%;
}

.event-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 5%;
}

.event-info {
  background-color: var(--gold);
  position: relative;
  left: -120px;
  z-index: -1;
}

.event-info h1 {
  color: white;
  margin: unset;
  text-align: left;
}

.event-info .date {
  margin-bottom: 0;
  margin-left: 40px;
  margin-top: 20px;
  padding-top: 0;
  font-size: 28px;
}

.event-info .title {
  margin-left: 140px;
  margin-top: 80px;
  padding-top: 0;
  font-size: 28px;
}

.event-info .text {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  text-align: left;

  color: #000000;

  margin-left: 140px;
  margin-top: 60px;
}

.event-info .general-button {
  margin-left: 140px;
  margin-top: 80px;
  margin-bottom: 40px;
}

.general-button {
  height: 52px;
  background: #a87c2b;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;

  padding: 0 20px;

  color: #ffffff;
}

.general-button:hover {
  background: #1a3349;
}

.ornaments {
  position: absolute;
}

.ornaments.first,
.ornaments.second {
  top: 0;
}

.ornaments.third,
.ornaments.fourth {
  bottom: 0;
}

.ornaments.second,
.ornaments.ornaments.fourth {
  right: 0;
}

/* EVENT TYPE SECTION */

.event-type-section {
  padding: 8vh 60px;
}

.event-type-section h1 {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  color: var(--gold);

  margin-bottom: 8vh;
}

.event-types {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
  width: 80vw;
  margin: auto;
}

.event-types .item {
  background: var(--gold);
  padding: 12px;
  border-radius: 10px;
  position: relative;
  transition: all ease-in-out 0.3s;
}

.event-types .item:hover {
  cursor: pointer;
  background: #a87c2b;
}

.event-types .item h3 {
  position: absolute;
  bottom: 30px;
  left: 30px;

  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* TRANSPORT SECTION */

.transport-section {
  position: relative;
  padding: 0 60px 20vh 60px;
}

.transport-section h1 {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  font-size: 70px;
  line-height: 91px;
  width: 10vw;

  color: #caa45d;

  margin-bottom: 40px;
}

.transport-section .info {
  display: flex;
  justify-content: space-between;

  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.transport-section .info .desc {
  color: var(--gold);
  width: 32vw;
}

.transport-section .info .address {
  color: #a87c2b;
  width: 30vw;
  text-align: right;
}

.transport-item {
  background: #494949;
  border-radius: 40px;

  display: flex;
  padding: 10vh 5vw;
  justify-content: space-around;
  align-items: center;
}

.transport-item .info {
  text-align: left;
  margin: unset;
}

.transport-item .image-content p {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;

  color: #caa45d;
  max-width: unset;
  margin-top: 20px;
}

.transport-section h2 {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  color: #caa45d;
  margin: 12vh 0;
}

.transport-item .info {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  color: #caa45d;
}

.ornaments.big-left {
  left: 0;
  bottom: 0;
}

.ornaments.big-right {
  right: 0;
  top: 0;
}

.event-image img {
  width: 30vw;
}

.upcoming-events-section h1 {
  margin-bottom: 40px;
}

@media screen and (max-width: 1550px) {
  .event-info .date {
    padding-top: 0;
  }

  .event-info .title {
    padding-top: 0;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1250px) {
  .event-info .date {
    font-size: 20px;
    margin-left: 140px;
  }

  .event-info .title {
    font-size: 24px;
    margin-top: 40px;
    line-height: normal;
  }

  .event-info .text {
    font-size: 14px;
    margin-top: 40px;
    margin-right: 20px;
  }

  .event-info {
    height: unset;
  }

  .event-info .general-button {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 4px 12px;
    line-height: normal;
  }
}

@media screen and (max-width: 1000px) {
  .event-item {
    flex-direction: column;
  }

  .event-info {
    left: 0px;
    height: unset;
    width: 40vw;
  }

  .event-info .general-button {
    margin: 32px auto;
  }

  .event-image img {
    width: 30vw;
  }

  .event-info h1 {
    text-align: center;
    margin: 0;
  }

  .event-info .title {
    margin: 0;
  }

  .event-info .text {
    margin: 0 auto;
    text-align: center;
  }

  .event-image img {
    width: 40vw;
  }

  .event-info {
  }
}

@media screen and (max-width: 900px) {
  .banner-slide h1 {
    margin-left: 60px;
    font-size: 40px;
  }
}

@media screen and (max-width: 820px) {
  main {
    height: 60vh;
  }

  .banner-slide h1 {
    margin-left: 40px;
    font-size: 24px;
  }

  .info-section h1 {
    font-size: 28px;
    max-width: 80vw;
    text-align: center;
    margin: auto;
    margin-top: 0;
  }

  .upcoming-events-section h1 {
    font-size: 28px;
    margin-top: 100px;
  }

  .ornaments img {
    width: 35vw;
  }

  .event-image img {
    width: 40vw;
  }

  .event-info {
    left: 0;
    height: unset;
  }

  .event-info .date {
    font-size: 20px;
    margin: unset;
  }

  .event-info .title {
    font-size: 24px;
    max-width: 90%;
    line-height: unset;
    margin: 0 auto;
    text-align: center;
  }

  .event-info .text {
    margin-left: 80px;
    font-size: 16px;
    margin: auto;
  }

  .general-button {
    font-size: 16px;
    height: 40px;
  }

  .event-type-section h1 {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .transport-section h1 {
    font-size: 28px;
    width: unset;
    line-height: unset;
  }

  .transport-section .info .desc {
    font-size: 14px;
  }

  .transport-section .info .address {
    font-size: 14px;
  }

  .transport-section h2 {
    font-size: 28px;
    margin: 40px 0;
  }

  .transport-item .image-content p {
    font-size: 28px;
  }

  .transport-item .info {
    font-size: 14px;
  }

  .transport-item {
    flex-direction: column;
    padding: 0px;
    min-height: 70vh;
    justify-content: center;
  }

  .transport-section {
    padding: 0 60px 40px 60px;
  }

  .swiper-btn svg {
    width: 12px;
  }

  .ornaments.big-left {
    bottom: -20px;
  }

  .event-types {
    align-items: center;
    justify-content: center;
  }

  .upcoming-events-section .slide-container {
    max-width: 80vw !important;
  }

  .event-image img {
    width: 60vw;
  }

  .event-info {
    width: 60vw;
  }
}

@media screen and (max-width: 517px) {
  main {
    height: 40vh;
  }

  .banner-slide h1 {
    margin: 0 20px;
    text-align: center;
    font-size: 18px;
  }

  .info-section h1 {
    font-size: 20px;
    line-height: unset;
  }

  .upcoming-events-section h1 {
    font-size: 20px;
    margin-top: 60px;
  }

  .event-info .date {
    font-size: 16px;
  }

  .event-info .title {
    font-size: 18px;
  }

  .event-info .text {
    margin-top: 24px;
    max-width: 80% !important;
  }

  .event-type-section h1 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .transport-section h1 {
    font-size: 20px;
  }

  .event-type-section {
    padding: 20px;
    padding-bottom: 72px;
  }

  .event-types .item {
    padding: 8px;
  }

  .event-types .item img {
    width: 60vw;
  }

  .event-types .item h3 {
    font-size: 20px;
  }

  .transport-section {
    padding: 0 40px 40px 40px;
  }

  .transport-section .info {
    flex-direction: column;
  }

  .transport-section .info .desc {
    width: unset;
  }

  .transport-section .info .address {
    width: unset;
    text-align: left;
    margin-top: 28px;
  }

  .transport-section h2 {
    font-size: 20px;
    margin: 24px 0;
  }

  .transport-item .image-content img {
    width: 20vw;
  }

  .transport-item .image-content p {
    font-size: 18px;
    margin-top: 0;
  }

  .ornaments.big-left {
    bottom: -10px;
  }
}
